@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  font-size: 10px;

  --gray-dark: #364954;
  --grey: #c7cdd1;
  --blue: #84b1cb;
  --purple: #e2c3d9;
  --white: #ffffff;
  --transition: all 0.5s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background: var(--grey);
  box-shadow: inset 9px 9px 18px var(--gray-dark),
    inset -9px -9px 18px var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.nav a h3 {
  font-size: 2.5rem;
  margin-left: 10rem;
  background: var(--grey);
  box-shadow: 9px 9px 18px var(--gray-dark), -9px -9px 18px var(--white);
  color: var(--gray-dark);
  padding: 1.5rem;
  font-weight: 800;
  text-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.2),
    inset 8px 8px 12px rgba(0, 0, 0, 0.08);
}

.nav a h3 span {
  font-size: 4rem;
  color: #e0e5eb;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #9e9e9e, 0 2px 0 #9c9c9c, 0 3px 0 #9a9a9a,
    0 4px 0 #989898, 0 5px 0 #969696, 0 6px 0 #949494, 0 7px 0 #999,
    0 8px 0 #909090, 0 22px 30px rgba(0, 0, 0, 0.9);

  outline: none;
  letter-spacing: 4px;
}
.nav .nav-list {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    145deg,
    var(--blue) 20%,
    var(--gray-dark) 20%,
    var(--grey) 30%,
    var(--grey) 70%,
    var(--gray-dark) 80%,
    var(--blue) 80%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: scale(0);
  transition: var(--transition);
}

.nav .nav-list .nav-item {
  list-style: none;
  width: 250px;
  position: relative;
  margin: 1.5rem 2rem 4rem 1.5rem;
}

.nav .nav-list .nav-item .cinza-escuro {
  height: 50px;
  width: 20px;
  background-color: var(--gray-dark);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  transition: all 0.5s ease-in-out;
}
.nav .nav-list .nav-item .cinza-claro {
  height: 50px;
  width: 250px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}

/* ---ASSINATURA BAIXO---- */
.nav .nav-list .nav-assinatura {
  position: absolute;
  bottom: 15%;
  left: 70%;
  transform: rotate(-35deg);
  transform-origin: center;
}
.nav .nav-list .nav-assinatura img {
  width: 300px;
}
/* ---ASSINATURA CIMA---- */
.nav .nav-list .nav-assinatura2 {
  width: 50%;
  position: absolute;
  top: 5%;
  left: 3%;
}
.nav .nav-list .nav-assinatura2 img {
  width: 120px;
}

.nav .nav-list .nav-item .nav-link {
  position: absolute;
  color: var(--gray-dark);
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #000;
  z-index: 15;
  margin: 12.5px 40px;
  text-transform: uppercase;
}
.nav .nav-list .nav-item:hover .cinza-escuro {
  width: 230px;
  background: var(--gray-dark);
  color: var(--blue);
}
.nav .nav-list .nav-item:hover .nav-link {
  color: var(--blue);
  transform: scale(1.2);
}
/* HAMBURGER-MENU */

.nav .hamburger-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(180deg);
  background: var(--gray-dark);
  box-shadow: -9px -9px 18px #161d22, 9px 9px 18px #567586;
  transition: var(--transition);
}

.nav .menu {
  margin-right: 10rem;
  background: var(--grey);
  box-shadow: 9px 9px 18px var(--gray-dark), -9px -9px 18px var(--white);
  color: var(--gray-dark);
  padding: 1.2rem;
  font-weight: 800;
  text-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.2),
    inset 8px 8px 12px rgba(0, 0, 0, 0.08);
}

.nav .line {
  height: 3px;
  background-color: var(--grey);
  transform: rotate(180deg);
  cursor: pointer;
  transition: var(--transition);
}

.nav .hamburger-menu:hover .line {
  background: #364954;
  box-shadow: inset 9px 9px 18px #161d22, inset -9px -9px 18px #567586;
}
.nav .line-1 {
  width: 80%;
  margin: 0.5rem;
  background: linear-gradient(145deg, white, #31424c);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
}
.nav .line-2 {
  width: 50%;
  margin: 0.5rem auto;
  background: linear-gradient(145deg, #31424c, #fff, #3a4e5a);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
}
.nav .line-3 {
  width: 80%;
  margin: 0.5rem;
  background: linear-gradient(145deg, #31424c, #fff);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
}

.nav .line-1:before {
  content: '';
  position: absolute;
  top: -7px;
  right: -10%;
  width: 35%;
  height: 4px;
  background: linear-gradient(235deg, #31424c, #fff);
  transform: rotate(90deg);
  transition: var(--transition);
}
.nav .line-3:before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: -10%;
  width: 35%;
  height: 4px;
  background: linear-gradient(235deg, #31424c, #fff);
  transform: rotate(90deg);
  transition: var(--transition);
}
.nav .hamburger-menu:hover .line-1:before,
.nav .hamburger-menu:hover .line-3:before {
  background: transparent;
}
.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
}
/* CLOSE MENU */

.nav .hamburguer-menu-close .menu-close {
  margin-right: 10rem;
  background: var(--grey);
  box-shadow: 9px 9px 18px var(--gray-dark), -9px -9px 18px var(--white);
  color: var(--gray-dark);
  padding: 1.2rem;
  font-weight: 800;
  text-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.2),
    inset 8px 8px 12px rgba(0, 0, 0, 0.08);
}

.nav .hamburguer-menu-close .menu-close .hamburger-menu-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(180deg);
  background: var(--gray-dark);
  box-shadow: -9px -9px 18px #161d22, 9px 9px 18px #567586;
  transition: var(--transition);
}

.nav .hamburguer-menu-close .menu-close .hamburger-menu-close .line-close {
  height: 5px;
  background-color: var(--grey);
  cursor: pointer;
  transition: var(--transition);
}

/* BARRAS DO MENU */

.nav .hamburguer-menu-close .menu-close .hamburger-menu-close .line-1-close {
  width: 100%;
  margin: 0;
  background: linear-gradient(145deg, #31424c, #fff, #3a4e5a);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
  transform: rotate(45deg);
  position: absolute;
  transition: var(--transition);
}
.nav .hamburguer-menu-close .menu-close .hamburger-menu-close .line-2-close {
  width: 100%;
  margin: 0;
  background: linear-gradient(145deg, #31424c, #fff, #3a4e5a);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
  transform: rotate(-45deg);
  position: absolute;
  transition: var(--transition);
}

.nav .hamburguer-menu-close .menu-close .hamburger-menu-close .line-3-close {
  width: 50%;
  margin: 0.5rem;
  background: linear-gradient(145deg, white, #31424c);
  box-shadow: 15px 15px 12px #161d22, -15px -15px 12px #567586;
  display: none;
  transition: var(--transition);
}

/* MENU CLOSE HOVER EFFECT */

.nav .hamburguer-menu-close:hover .menu-close .hamburger-menu-close {
  background: var(--grey);
}
.nav .hamburguer-menu-close .menu-close:hover .line-1-close {
  background: var(--gray-dark);
}
.nav .hamburguer-menu-close .menu-close:hover .line-2-close {
  background: var(--gray-dark);
}

.nav-list .hamburguer-menu-close {
  position: absolute;
  top: 20px;
  right: 10%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 0;
  background: linear-gradient(145deg, #b1c3cd, #95a4ad);
  box-shadow: inset 9px 9px 18px var(--gray-dark),
    inset -9px -9px 18px var(--grey);
}
.nav-list.hamburguer-menu-close:hover {
  background: linear-gradient(145deg, #b1c3cd, #95a4ad);
  box-shadow: 9px 9px 18px var(--gray-dark), -9px -9px 18px var(--grey);
}

main {
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, var(--grey), #333, #000);
  position: relative;
}

main .left {
  padding: 40px;
  width: 100%;
  height: 100%;
  text-align: center;

  background: linear-gradient(145deg, var(--grey), #31424c, var(--gray-dark));
}
main .left h1 {
  text-transform: uppercase;
  font-size: 4rem;
  box-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.3),
    inset 8px 8px 12px rgba(0, 0, 0, 0.8);
  caret-color: var(--gray-dark);
  padding: 2rem;
  text-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2),
    4px 4px 10px rgba(90, 45, 45, 0.5);
  margin-bottom: 2rem;
}

main .left h1 span {
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--gray-dark);
  text-shadow: -4px -4px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.28);
  caret-color: var(--gray-dark);
  outline: none;
  letter-spacing: 15px;
}

main .left .glider {
  width: 80%;

  margin: 2rem auto;
  position: relative;
}
.glider-dot {
  width: 50px;
  background: linear-gradient(145deg, var(--grey), #333, #000);
  color: white;
}
.glider-dot:focus {
  color: white;
}
main .left .glider .card {
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background: var(--gray-dark);
  box-shadow: 15px 15px 28px black, -2px -2px 8px var(--grey);
}

main .left .glider .card h4 {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  color: var(--gray-dark);
  background: var(--grey);
  box-shadow: 9px 9px 18px #161d22, -9px -9px 18px #5675868e;
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.48);
}
main .left .glider .card p {
  width: 60%;
  margin: 3rem;
  text-align: justify;
  font-size: 1.5rem;
  margin: 3rem 3rem 4rem 3rem;
  color: var(--grey);
  letter-spacing: 2px;
  box-shadow: inset -8px -8px 12px rgba(255, 255, 255, 0.3),
    inset 8px 8px 12px rgba(0, 0, 0, 0.8);
  caret-color: var(--gray-dark);
  padding: 1rem 2rem;
}

footer {
  height: 10%;
  background: var(--grey);
  box-shadow: inset 9px 9px 18px var(--gray-dark),
    inset -9px -9px 18px var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.assinatura img {
  width: 300px;
  margin: 0 auto;
}


/* -----MEDIA QUERIES--- */

@media (max-width: 936px) {
  main .grid .right .social-media-nav .social-list-contact {
    flex-direction: row;
    position: relative;
    background: transparent;
    right: 0;
  }
  .nav .menu {
    margin-right: 5rem;
  }
  .nav a h3 {
    font-size: 2.5rem;
    margin-left: 5rem;
  }
  .nav .nav-list .nav-assinatura img {
    width: 250px;
  }
  .nav .nav-list .nav-assinatura2 img {
    width: 100px;
  }
  .nav .nav-list .nav-assinatura {
    bottom: 12%;
    left: 60%;
  }
}

@media (max-width: 700px) {
  main .left h1 {
    font-size: 3rem;
  }
  .nav .menu {
    margin-right: 4rem;
  }
  .nav a h3 {
    font-size: 2.5rem;
    margin-left: 4rem;
  }
  .nav .nav-list .nav-assinatura2 img {
    width: 90px;
  }
  .nav .nav-list .nav-assinatura {
    bottom: 12%;
    left: 66%;
  }
  .nav .nav-list .nav-assinatura img {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .nav .nav-list .nav-assinatura2 img {
    width: 90px;
  }
  .nav .nav-list .nav-assinatura {
    bottom: 12%;
    left: 60%;
  }
  .nav .nav-list .nav-assinatura img {
    width: 200px;
  }
}

@media (max-width: 570px) {
  main .left h1 {
    font-size: 2.5rem;
  }
    .nav .menu {
        margin-right: 2rem;
      }
      .nav a h3 {
        font-size: 2.5rem;
        margin-left: 2rem;
      }
  .nav .nav-list .nav-assinatura2 img {
    width: 90px;
  }
  .nav .nav-list .nav-assinatura {
    bottom: 12%;
    left: 56%;
  }
  .nav .nav-list .nav-assinatura img {
    width: 220px;
  }
}

@media (max-width: 450px) {
  main .left {
    padding: 0px 10px 10px 10px;
  }
  main .left h1 {
    font-size: 2rem;
  }
  main .left .glider .card {
    padding: 0;
  }
  .nav a h3 span {
    font-size: 2rem;
  }
  .nav a h3 {
    margin-left: 0rem;
  }
  .nav .menu {
    margin-right: 0;
  }
  .nav .nav-list .nav-assinatura2 img {
    width: 80px;
  }
  .nav .nav-list .nav-assinatura {
    bottom: 13%;
    left: 48%;
  }
  .nav .nav-list .nav-assinatura img {
    width: 200px;
  }
}
